.Box {
	display: block;
	max-width: 900px;

	margin-top: dist(0);
	padding: dist(-1) dist(0);

	@include media($phone) {
		margin-top: dist(-1);
	}

	h1 + & {
		margin-top: 0;
	}

	h2 {
		margin-top: 0;
	}

	border-radius: 3px;
	background-color: rgba(white, .07);

	&.wide {
		width: initial;
		max-width: initial;
	}

	&.medium {
		max-width: 1200px;
	}

	.Valfield {
		display: inline-block;
		min-width: 10em;
	}
}
