.page-home {
	#control-range {
		width: 100%;

		appearance: none;
		height: 50px;
		border-radius: 5px;
		background-color: #37B0FF;

		background: url(/img/slider.png) center center no-repeat;
		background-size: 100% 100%;

		&::-webkit-slider-thumb {
			appearance: none;

			background: #3c90ee;
			border: 1px solid #ccc;

			height: 44px;
			width: 44px;
			border-radius: 2px;

		}
	}
}
